// ## Kolory
// - `#F0F1F1`
// - `#5E5322`
// - `#FAD648`
// - `#737373`
// - `#3C3C3C`

$color-main: #f0f1f1;
$color-secondary: #5e5322;
$color-border-menu: #fad648;
$color-fourth: #737373;
$color-border-scrollLink: #3c3c3c;
