.contactField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../assets/Background-Contact-Form.jpg");
  //   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 142px 319px 1230px;
}
.contactField__wrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactField__form {
  width: 528px;
  margin-top: 70px;
}
.contactField__form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contactField__form-wrapper-label {
  display: flex;
  flex-direction: column;
}

.contactField__form-wrapper-input {
  margin-top: 12px;
}

.contactField__form-smallLabel {
  width: 48%;
}

.contactField__label-text {
  font-size: 1.6rem;
}

.contactField__form-wrapper-input {
  border: none;
  border-bottom: 0.75px solid black;
}

.contactField__form-bigInput {
  resize: none;
}

.contactField__form-btn {
  font-size: 1.8rem;
  padding: 13px 52px;
  border: 0.75 solid $color-border-scrollLink;
  background-color: white;
  margin-top: 44px;
  margin-left: 70%;
}

@media (max-width: $largeScreens) {
  .contactField {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 1) 60%
      ),
      url("../assets/Background-Contact-Form.jpg");
    //   background-position: center;
  }
}

@media (max-width: $tabletScreens) {
  .contactField {
    padding: 100px 60px 319px 0;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 1) 60%
      ),
      url("../assets/Background-Contact-Form.jpg");
    //   background-position: center;
  }
}

@media (max-width: $smallTabletScreens) {
  .contactField {
    padding: 50px 60px 150px 0;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 1) 40%
      ),
      url("../assets/Background-Contact-Form.jpg");
    //   background-position: center;
  }
}

@media (max-width: $bigPhoneScreens) {
  .contactField {
    padding: 70px 50px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    );
    align-items: center;
    //   background-position: center;
  }
}

@media (max-width: 700px) {
  .contactField {
    padding: 70px 20px;
    width: 90%;
  }
  .contactField__form-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .contactField__label-text {
    text-align: center;
  }

  .contactField__form-bigInput {
    width: 60%;
    margin: 0 auto;
  }
  .contactField__form-btn {
    display: block;
    margin: 20px auto;
  }
}
