.giveBackForm {
  position: relative;
}

.giveBackForm__hero {
  position: relative;
}

.giveBackForm__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: min-content;
  height: 90vh;
  width: 100%;
  background: url("../assets/Form-Hero-Image.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
}
.giveBackForm__header-wrapper {
  width: 652px;
}

.giveBackForm__hero-textWrapper {
  margin-right: 10%;
}

.giveBackForm__semititle {
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
}

.giveBackForm__steps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}

.giveBackFrom__steps-step {
  width: 134px;
  height: 134px;

  border: 0.75px solid $color-border-scrollLink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.giveBackFrom__steps-step-inside {
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.giveBackFrom__steps-step-number {
  font-size: 3.2rem;
  font-weight: lighter;
}

.giveBackFrom__steps-step-text {
  font-size: 2.2rem;
  font-weight: lighter;
  text-align: center;
  max-width: 100px;
}

.giveBackFrom__important {
  padding: 50px 20px 50px 141px;
  background-color: #fad648;
}

.giveBackFrom__important-header {
  font-size: 3.6rem;
}

.giveBackFrom__important-text {
  font-size: 2.2rem;
}

.giveBackFrom__form {
  background: transparent url("../assets/Background-Form.jpg");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  min-height: 800px;
}

@media (max-width: $largeScreens) {
  .giveBackForm__header {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 1)
      ),
      url("../assets/Form-Hero-Image.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
  }
}

@media (max-width: $bigPhoneScreens) {
  .giveBackForm__header-wrapper {
    width: 100%;
  }
  .giveBackForm__hero-textWrapper {
    margin: 0;
    padding: 0 30px;
  }
  .giveBackFormWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: $smallScreens) {
  .giveBackFrom__important {
    margin-top: 30px;
    padding: 15px;
  }
}
