.headerTitle {
  font-size: 3.8rem;
  text-align: center;
  margin-top: 210px;
  width: fit-content;
}

.headerTitle__img {
  background-image: url("../assets/Decoration.svg");
  width: 25rem;
  height: 3.4rem;
  margin: 2.5rem auto 0;
}
