.headerTitle {
  font-size: 3.8rem;
  text-align: center;
  max-width: fit-content;
}

.headerTitle__img {
  background-image: url("../assets/Decoration.svg");
  width: 25rem;
  height: 3.4rem;
  margin: 2.5rem auto 0;
}

@media (max-width: $smallScreens) {
  .headerTitle__img {
    width: 20rem;
    background-position: center;
    background-size: cover;
  }
}
