.helpingButton {
  font-size: 2.4rem;
  width: 208px;
  height: 79px;
  background-color: white;
  color: $color-border-scrollLink;
  border: 0.75px solid transparent;
  word-wrap: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.helpingButton:hover {
  border-color: $color-border-scrollLink;
}

.helpingButton__active {
  border-color: $color-border-scrollLink;
}
