@import "./settings/breakPoints";

.homeHeader {
  display: flex;
}

@media (max-width: $smallTabletScreens) {
  .homeHeader {
    padding-top: 20px;
    margin-top: 200px;
  }
  .heroIMG {
    display: none;
  }
}
