.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 310px;
  height: 120px;
  font-size: 3.6rem;
  background-color: white;
  border: 1px solid black;
}

.mainButton:hover {
  cursor: pointer;
}

@media (max-width: $smallScreens) {
  .mainButton {
    width: 205px;
    height: 60px;
  }
}
