.navigation {
  padding-top: 2rem;
  margin-right: 10rem;
  margin-bottom: 210px;
  .navigation__list {
    display: flex;
    justify-content: right;
  }
  .navigation__route {
    margin-bottom: 3.5rem;
    margin-right: 2rem;
  }
}

.navigation__greeting {
  font-size: 1.4rem;
  margin-right: 20px;
}
