.pagination__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination__btn {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 13px 15px;
}
.pagination__btn:hover {
  cursor: pointer;
}

.pagination__active {
  border: 0.75px solid black;
}

@media (max-width: $bigPhoneScreens) {
  .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
